*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.chatbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    background-color: #eeeeee;
    margin: -250px 0 0 -200px;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
}

.messages {
    max-height: calc(100% - 50px);
    padding: 5px;
    overflow: auto;
}

.message {
    position: relative;
    max-width: 80%;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    clear: both;
}

.message:before {
    content: "";
    position: absolute;
    top: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cccccc url("../images/account.svg") center center no-repeat;
    background-size: 75% auto;
    opacity: 0.75;
}

.message:last-of-type {
    margin-bottom: 0;
}

.message p {
    font: normal 1.4rem/1 "Consolas", monospace;
    color: #333333;
}

.message.received {
    float: left;
    padding-left: 34px;
}

.message.sent {
    float: right;
    padding-right: 34px;
}

.message.received:before {
    left: 5px;
}

.message.sent:before {
    right: 5px;
}

.indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #dddddd;
    border-top: 1px solid #bbbbbb;
}

.indicator:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 2px solid #555555;
    border-radius: 50%;
    background: url("../images/microphone-outline.svg") center center no-repeat;
    background-size: 75%;
    opacity: 0.6;
}

.indicator.recording:before {
    background-image: url("../images/microphone.svg");
}

.indicator.processing:before {
    background-image: url("../images/microphone-dots.svg");
}