*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.chatbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    background-color: #eeeeee;
    margin: -250px 0 0 -200px;
    border: 1px solid #aaaaaa;
    overflow: auto;
}

.messages {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.message {
    position: relative;
    max-width: 80%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    clear: both;
}

.message:before {
    content: "";
    position: absolute;
    top: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #cccccc url("../images/account.svg") center center no-repeat;
    background-size: 75% auto;
    opacity: 0.75;
}

.message:last-of-type {
    margin-bottom: 0;
}

.message p {
    font: normal 1.4rem/1 "Consolas", monospace;
    color: #333333;
}

.message.received {
    float: left;
    padding-left: 34px;
}

.message.sent {
    float: right;
    padding-right: 34px;
}

.message.received:before {
    left: 5px;
}

.message.sent:before {
    right: 5px;
}