<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Speech SimSimi</title>
        <link rel="stylesheet" href="stylesheets/application.css">
    </head>

    <body>
        <div class="chatbox">
            <div class="messages"></div>
        </div>
    
        <template id="message">
            <div class="message">
                <p></p>
            </div>
        </template>

        <script src="javascripts/jquery.js"></script>
        <script src="javascripts/application.js"></script>
    </body>
</html>